<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{docTitle}
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/product.css")
    body
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a.active(href="/") Shop
                    li.main-header__item
                        a(href="/admin/add-product") Add Product
        main
            if prods.length > 0 
                .grid
                    each product in prods
                        article.card.product-item 
                            header.card__header 
                                h1.product__title #{product.title}
                            .card__image 
                                img(src="https://dkstatics-public.digikala.com/digikala-products/72c7d6cd88ddcae6c282401bbf7c46f076763179_1631041468.jpg", alt="A Book")
                            .card__content 
                                h2.product__price $20.99
                                p.product__description A very nice and good book for everyone
                            .card__actions 
                                button.btn Add to Cart
            else
                h1 No Product Exists