.order-main {
    margin-top: 2rem;
    width: 90%;
    background-color: rgb(243, 241, 241);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-main ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.order-main ul li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 1rem;
}

.order-main ul li h1 {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-main ul li ul {
    flex: 20;
}

