<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs', {path: '/'}) %>
    <main>
        <h1>Nothing to Show ...</h1>
    </main>
    <%- include('../includes/end.ejs', {path: '/'}) %>